<header>
    <div class="content">
        <div class="logo">
            <div class="logo__img">
                <a href=""><img src='img/icons/logo.png' alt=""></a>
            </div>
            <div class="logo__phonenumber">
                <span>+7 (499) </span><span class="orange-text">553-0-978</span>
            </div>
            <div class="logo__callback">
                <button>Заказать обратный звонок</button>
            </div>
        </div>
        <div class="salers-header">
            <h3>Отдел продаж под ключ с гарантией</h3>
            <div class="checked">
                <div class="checkbox">Узнайте сколько ежедневно теряет Ваш отдел продаж</div>
                <div class="checkbox">Узнайте, что отличает Ваш отдел продаж от лучших в отрасли</div>
                <div class="checkbox">Узнайте почему Вы не можете увеличить продажи в 2-4-8 раз</div>
            </div>
        </div>
        <button class="take-this take-border">
        Получить отдел продаж
    </button>
    </div>
</header>