@font-face {
  font-family:"display-regular";
  src: url("../fonts/SF-UI-Display-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"display-bold";
  src: url("../fonts/SF-UI-Display-Bold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"display-semibold";
  src: url("../fonts/SFUIDisplay-Semibold.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"display-medium";
  src: url("../fonts/SF-UI-Display-Medium.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"display-heavy";
  src: url("../fonts/SF-UI-Display-Heavy.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}