@media screen and (min-width: 1024px) {
  .content {
  width: 970px;
  margin: 0 auto;
}
  .checkbox {
    background: url("../img/icons/chekbox.png") no-repeat;
    padding-left: 53px;
    margin: 27px 0;
    height: 26px;
  }
  .orange-text {
    color: #ff5900;
  }
  .grey-title {
    font: normal 42px "display-regular";
    color: #483f3c;
    margin: 0;
    text-align: center;
  }
  .take-this {
    border: 1px solid #737374;
    background-color: #ff5900;
    border-radius: 10px;
    color: #fff;
    font: normal 22px "display-regular";
    padding: 17px 60px 17px 60px;
    letter-spacing: 0;
    cursor: pointer;
    outline: none;
    display: block;
  }
  button {
    z-index: 9998;
  }
  header {
  background: url("../img/main-bg.jpg") no-repeat;
  height: 814px;
    background-size: cover;
    margin: 0 auto;
  .logo{
    padding-top: 10px;
    &__img {
      display: inline-block;
      float: left;
      margin-top: 20px;
    }
    &__phonenumber {
      font: normal 22px "display-regular";
      color: #c0aba5;
      display: inline-block;
      position: relative;
      margin-top: 34px;
      left: 325px;
      letter-spacing: 0.5px;
    }
    &__callback {
      display: inline-block;
      float: right;
      margin-top: 26px;
      button {
        border: 1px dotted #c0aba5;
        outline: none;
        color: #c0aba5;
        font: normal 14px "display-regular";
        border-radius: 10px;
        background: url("../img/icons/phone.png") 10px no-repeat;
        padding: 10px 10px 10px 45px;
        cursor: pointer;
      }
    }
  }
  .salers-header {
    font: normal 20px "display-regular";
    margin: 160px auto 0;
    position: relative;
    h3 {
      color: #fff;
      font-size: 42px;
      text-align: center;
      padding-left: 74px;
    }
    .checked {
      margin-top: 69px;
      .checkbox {
        color: #e8d8d4;
        width: 600px;
        margin-left: 200px;
        position: relative;
      }
    }
  }
   .take-this{
      margin-top: 135px;
      margin-left: 318px;
    }
}
  .container-result{
    background-color: #f5f5f5;
    height: 530px;
    .client-result{
      padding-top: 48px;
      .client-slider {
        display: flex;
        justify-content: space-around;
        width: 950px;
        margin:  0 auto;
        margin-top: 66px;
        button {
          border: none;
          font-size: 0;
          position: absolute;
          top: 59px;
          outline: none;
          cursor: pointer;
        }
        .slick-prev {
          background: url("../img/icons/left.png") no-repeat;
          width: 25px;
          height: 45px;
          left: -10px;
        }
        .slick-next {
          background: url("../img/icons/right.png") no-repeat;
          width: 25px;
          height: 45px;
          right: -10px;
        }
        .slide {
          outline: none;
          img {
            margin: 0 auto;
          }
          margin: 0 auto;
          text-align: center;
          .client-description {
            color: #393939;
            font:  normal 22px "display-regular";margin-top: 50px;
            letter-spacing: -0.4px;
          }
          .client-efficiency {
            color: #1f1f1f;
            font: normal 25px "display-bold";
            padding-top: 5px;
          }
        }
      }
    }
  }
  .container-sales {
    background: url("../img/main-twice.jpg") no-repeat;
    height: 926px;
    background-size: cover;
    margin: 0 auto;
    .sales-growth {
      padding-top: 44px;
      letter-spacing: -0.5px;
      &__description {
        margin-top: 49px;
        letter-spacing: 0;
        line-height: 26px;
        color: #1b1b1b;
        font: normal 18px 'display-regular';
        .orange-text {
          font: normal 18px "display-semibold";
          line-height: 26px;
        }
      }
      ol {
        list-style: none;
        font: normal 18px "display-regular";
        padding-left: 0;
        margin-top: 52px;
        li {
          height: 30px;
          padding-left: 45px;
          line-height: 30px;
          margin: 20px 0;
          letter-spacing: 0.1px;
        }
        li:nth-child(1) {
          background: url("../img/icons/1.jpg") no-repeat;
        }
        li:nth-child(2) {
          background: url("../img/icons/2.jpg") no-repeat;
        }
        li:nth-child(3) {
          background: url("../img/icons/3.jpg") no-repeat;
        }
        li:nth-child(4) {
          background: url("../img/icons/4.jpg") no-repeat;
        }
        li:nth-child(5) {
          background: url("../img/icons/5.jpg") no-repeat;
        }
        li:nth-child(6) {
          background: url("../img/icons/6.jpg") no-repeat;
        }
        li:nth-child(7) {
          background: url("../img/icons/7.jpg") no-repeat;
        }
      }
      &__bold-text {
        font: normal 18px "display-semibold";
        color: #191919;
        margin-top: 48px;
        letter-spacing: 0;
        line-height: 26px;
      }
    }
    .take-this {
      margin: 65px auto 0;
      padding: 17px 42px;
    }
  }
  .container-about {
    background: url("../img/bg-mail.jpg") no-repeat;
    height: 722px;
    background-size: cover;
    margin: 0 auto;
    padding-top: 10px;
    .about {
      padding-top: 48px;
      .client-about {
        margin-top: 60px;
        button {
          border: none;
          font-size: 0;
          position: absolute;
          top: 50%;
          margin-top: -40.5px;
          outline: none;
          cursor: pointer;
        }
        .slick-prev {
          background: url("../img/icons/left.png") no-repeat;
          width: 25px;
          height: 45px;
          left: 0;
        }
        .slick-next {
          background: url("../img/icons/right.png") no-repeat;
          width: 25px;
          height: 45px;
          right: 0;
        }
        .slide-about {
          .client-img {
            img {
              display: block;
              margin: 0 auto;
            }
          }
          .client-name {
            font: normal 16px "display-bold";
            color: #242424;
            margin-top: 41px;
            text-align: center;
          }
          .client-post {
            color: #896e67;
            font: normal 15px "display-semibold";
            width: 200px;
            margin: 6px auto 0;
            text-align: center;
          }
          .client-comment {
            font: normal 14px "display-regular";
            color: #1c1c1c;
            width: 200px;
            margin: 14px auto 0;
            line-height: 22px;
            text-align: center;
          }
        }
      }
    }
    .take-this {
      margin: 54px auto 0;
      padding: 17px 55px;
    }
  }
  .container-consulting {
    background-color: #fff;
    height: 1209px;
    .team {
      padding-top: 32px;
      .grey-title {
        letter-spacing: 0.3px;
      }
      &__disclaim {
        font: normal 18px "display-regular";
        color: #1c1c1c;
        margin-top: 45px;
        line-height: 26px;
      }
      &__line {
        display: flex;
        justify-content: space-between;
        width: 950px;
        margin: 56px auto 0;
        &:last-child {
          margin-top: 31px;
        }
        .team-member{
          display: inline-block;
          font: normal 14px "display-regular";
          .member-post {
            width: 300px;
            text-align: justify;
            margin-top: 32px;
            line-height: 22px;
            letter-spacing: 0.2px;
            strong {
              font-family: "display-bold";
            }
          }
        }
      }
    }
  }
  .container-system {
    background: url("../img/bg-group.jpg") no-repeat;
    height: 447px;
    background-size: cover;
    margin: 0 auto;
    .our-system {
      .our-system__work {
        margin: 0 auto;
        font: normal 30px "display-medium";
        color: #fff;
        text-align: center;
        padding-top: 85px;
        line-height: 55px;
        span {
          font: normal 35px "display-heavy";
        }
      }
    }
    .take-this {
      margin: 51px auto 0;
      padding: 17px 35px;
      letter-spacing: -0.3px;
    }
  }
  .container-trick {
    background: url("../img/bg-trick.jpg") no-repeat;
    height: 714px;
    background-size: cover;
    margin: 0 auto;
    .trick {
      padding-top: 62px;
      .iHave {
        margin-left: 85px;
        margin-top: 47px;
        strong {
          font: normal 22px "display-bold";
          color: #1c1c1c;
        }
        .checkbox {
          font: normal 22px "display-regular";
          color: #1c1c1c;
          padding-left: 45px;
          height: 26px;
          margin: 24px 0 24px 29px;
        }
        .why-trick {
          color: #1c1c1c;
          font: normal 20px "display-regular";
          margin-top: 57px;
          width: 810px;
          strong {
            font: normal 22px "display-bold";
          }
          div:last-child {
            margin-top: 8px;
            line-height: 30px;
            letter-spacing: 0.5px;
          }
        }
        .take-this {
          margin-top: 43px;
          margin-left: 194px;
          padding: 17px 46px;
          letter-spacing: -0.1px;
        }
      }
    }
  }
  .container-questions {
    background-color: #fff;
    .all-question {
      width: 920px;
      margin: 0 auto;
      padding-top: 49px;
      h3 {
        margin-left: -10px;
      }
      .question-list {
        .quest-block {
          margin: 29px 0;
          font: normal 16px "display-regular";
          color: #1c1c1c;
          &:first-child {
            margin-top: 40px;
          }
          .all-question__quest {
            span {
              background: url("../img/icons/question.png") no-repeat;
              min-height: 33px;
              display: inline-block;
              padding: 0 50px;
              line-height: 34px;
            }
          }
          .all-question__answ {
            background-color: #f6f4f3;
            border: 1px dotted #896e67;
            border-radius: 5px;
            padding: 10px 51px;
            margin-top: 17px;
            line-height: 29px;
            padding-bottom: 16px;
          }
        }
      }
    }
  }
  .container-go {
    background: url("../img/bg-letsgo.jpg") no-repeat;
    height: 454px;
    background-size: cover;
    margin: 0 auto;
    margin-top: 103px;
    .lets-go {
      h3 {
        font: normal 35px "display-semibold";
        color: #fff;
        margin: 0;
        text-align: center;
        padding-top: 135px;
        display: block;
      }
      .take-this {
        margin: 76px auto 0;
        padding: 17px 43px;
      }
    }
  }
  .container-video {
    background: url("../img/bg-bottom.jpg") no-repeat;
    height: 835px;
    background-size: cover;
    margin: 0 auto;
    .video {
      .grey-title {
        padding-top: 47px;
      }
      &__title {
        font: normal 25px "display-semibold";
        color: #1f1f1f;
        text-align: center;
        margin-top: 32px;
        letter-spacing: 0.3px;
      }
      &__slider {
        width: 950px;
        margin: 0 auto;
        outline: none;
        button {
          border: none;
          font-size: 0;
          position: absolute;
          top: 50%;
          margin-top: -5.5px;
          outline: none;
          cursor: pointer;
        }
        .slick-prev {
          background: url("../img/icons/left.png") no-repeat;
          width: 25px;
          height: 45px;
          left: -12px;
        }
        .slick-next {
          background: url("../img/icons/right.png") no-repeat;
          width: 25px;
          height: 45px;
          right: -12px;
        }
        .slide-one {
          outline: none;
          .sl-line {
            display: flex;
            justify-content: space-around;
            outline: none;
            width: 865px;
            margin: 33px auto;
            &:first-child {
              margin-top: 59px;
            }
            .one-video {
              display: inline-block;
            }
          }
        }
      }
      .take-this {
        margin: 21px auto 0;
        padding: 17px 42px;
        letter-spacing: -0.3px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .content {
    width: 290px;
    margin: 0 auto;
  }
  button {
    z-index: 9999;
  }
  .checkbox {
    background: url("../img/icons/chekbox.png") no-repeat;
    padding-left: 33px;
    margin: 20px 0;
    height: 26px;
  }
  .orange-text {
    color: #ff5900;
  }
  .grey-title {
    font: normal 32px "display-regular";
    color: #483f3c;
    margin: 0;
    text-align: center;
  }
  .take-this {
    border: none;
    background-color: #ff5900;
    border-radius: 8px;
    color: #fff;
    font: normal 18px "display-regular";
    padding: 10px;
    letter-spacing: 0;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 10px auto 0;
  }
  .take-border {
    border: 1px solid #737374;
  }
  header {
    background: url("../img/main-bg.jpg") no-repeat;
    padding-bottom: 35px;
    .logo{
      &__img {
        top: 10px;
        position: relative;
        img {
          display: block;
          margin: 0 auto;
        }
      }
      &__phonenumber {
        font: normal 16px "display-regular";
        color: #c0aba5;
        margin-top: 30px;
        letter-spacing: 0.5px;
        text-align: center;
      }
      &__callback {
        width: 225px;
        margin: 15px auto 0;
        font: normal 16px "display-regular";
        button {
          border: 1px dotted #c0aba5;
          outline: none;
          color: #c0aba5;
          font: normal 14px "display-regular";
          border-radius: 10px;
          background: url("../img/icons/phone.png") 10px no-repeat;
          padding: 9px 9px 9px 41px;
          cursor: pointer;
        }
      }
    }
    .salers-header {
      font: normal 14px "display-regular";
      margin: 35px auto 0;
      h3 {
        color: #fff;
        font-size: 35px;
        text-align: center;
      }
      .checked {
        .checkbox {
          color: #e8d8d4;
        }
      }
    }
  }
  .container-result{
    background-color: #f5f5f5;
    height: 370px;
    .client-result{
      padding-top: 35px;
      .client-slider {
        display: flex;
        justify-content: space-around;
        margin: 60px auto 0;
        button {
          border: none;
          font-size: 0;
          position: absolute;
          top: 50%;
          margin-top: -22.5px;
          outline: none;
          cursor: pointer;
        }
        .slick-prev {
          background: url("../img/icons/left.png") no-repeat;
          width: 25px;
          height: 45px;
          left: 10px;
        }
        .slick-next {
          background: url("../img/icons/right.png") no-repeat;
          width: 25px;
          height: 45px;
          right: 10px;
        }
        .slide {
          outline: none;
          img {
            margin: 0 auto;
            width: 75px;
            height: 75px;
          }
          margin: 0 auto;
          text-align: center;
          .client-description {
            color: #393939;
            font:  normal 15px "display-regular";
            margin-top: 15px;
            letter-spacing: -0.4px;
          }
          .client-efficiency {
            color: #1f1f1f;
            font: normal 17px "display-bold";
            padding-top: 5px;
          }
        }
      }
    }
  }
  .container-sales {
    background: url("../img/main-twice.jpg") no-repeat;
    padding-bottom: 40px;
    .sales-growth {
      padding-top: 35px;
      .grey-title{
        font: 400 22px display-regular;
        color: #483f3c;
        margin: 0;
        text-align: center;
        letter-spacing: -0.5px;
      }
      &__description {
        margin-top: 15px;
        letter-spacing: -0.5px;
        line-height: 22px;
        color: #1b1b1b;
        font: 400 16px display-regular;
        text-align: justify;
        .orange-text {
          font: normal 16px "display-semibold";
          line-height: 22px;
        }
      }
      ol {
        list-style: none;
        font: normal 14px "display-regular";
        padding-left: 0;
        margin-top: 15px;
        li {
          padding-left: 45px;
          line-height: 22px;
          margin: 20px 0;
          letter-spacing: 0.1px;
        }
        li:nth-child(1) {
          background: url("../img/icons/1.jpg") no-repeat;
        }
        li:nth-child(2) {
          background: url("../img/icons/2.jpg") no-repeat;
        }
        li:nth-child(3) {
          background: url("../img/icons/3.jpg") no-repeat;
        }
        li:nth-child(4) {
          background: url("../img/icons/4.jpg") no-repeat;
        }
        li:nth-child(5) {
          background: url("../img/icons/5.jpg") no-repeat;
        }
        li:nth-child(6) {
          background: url("../img/icons/6.jpg") no-repeat;
        }
        li:nth-child(7) {
          background: url("../img/icons/7.jpg") no-repeat;
        }
      }
      &__bold-text {
        font: 400 15px "display-semibold";
        color: #191919;
        letter-spacing: -0.5px;
        line-height: 20px;
        text-align: justify;
      }
    }
    .take-this {
      font-size: 16px;
    }
  }
  .container-about {
    background: url("../img/bg-mail.jpg") no-repeat;
    padding-bottom: 40px;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 10px;
    .about {
      padding-top: 35px;
      .client-about {
        margin-top: 10px;
        button {
          border: none;
          font-size: 0;
          position: absolute;
          top: 59px;
          outline: none;
          cursor: pointer;
        }
        .slick-prev {
          background: url("../img/icons/left.png") no-repeat;
          width: 25px;
          height: 45px;
          left: 10px;
        }
        .slick-next {
          background: url("../img/icons/right.png") no-repeat;
          width: 25px;
          height: 45px;
          right: 10px;
        }
        .slide-about {
          .client-img {
            img {
              display: block;
              margin: 0 auto;
            }
          }
          .client-name {
            font: normal 16px "display-bold";
            color: #242424;
            margin-top: 10px;
            text-align: center;
          }
          .client-post {
            color: #896e67;
            font: normal 15px "display-semibold";
            margin: 6px auto 0;
            text-align: center;
          }
          .client-comment {
            font: normal 14px "display-regular";
            color: #1c1c1c;
            margin: 14px auto 0;
            line-height: 22px;
          }
        }
      }
    }
  }
  .container-consulting {
    background-color: #fff;
    .team {
      padding-top: 35px;
      padding-bottom: 30px;
      .grey-title {
        letter-spacing: -0.5px;
      }
      &__disclaim {
        font: 400 18px display-regular;
        color: #1c1c1c;
        margin-top: 15px;
        line-height: 20px;
        text-align: justify;
      }
      &__line {
        display: block;
        margin-top: 15px;
        .team-member{
          display: inline-block;
          font: normal 14px "display-regular";
          margin: 15px 0;
          img {
            width: 290px;
            height: 290px;
            display: block;
            margin: 0 auto;
          }
          .member-post {
            margin-top: 10px;
            display: block;
            text-align: justify;
            line-height: 18px;
            letter-spacing: -0.5px;
          }
        }
      }
    }
  }
  .container-system {
    background: url("../img/bg-group.jpg") no-repeat;
    padding-bottom: 60px;
    max-width: 1440px;
    margin: 0 auto;
    .our-system {
      padding-top: 45px;
      .our-system__work {
        margin: 0 auto;
        font: 400 22px display-medium;
        color: #fff;
        padding-top: 15px;
        line-height: 25px;
        text-align: justify;
        span {
          font: normal 30px "display-heavy";
          text-align: center;
          display: block;
        }
      }
    }
    .take-this {
      margin: 40px auto 0;
      letter-spacing: -0.3px;
    }
  }
  .container-trick {
    background: url("../img/bg-trick.jpg") no-repeat;
    padding-bottom: 40px;
    max-width: 1440px;
    margin: 0 auto;
    .trick {
      padding-top: 35px;
      .iHave {
        strong {
          font: normal 20px "display-bold";
          color: #1c1c1c;
          line-height: 50px;
        }
        .checkbox {
          font: 400 17px display-regular;
          color: #1c1c1c;
          padding-left: 40px;
          height: 26px;
          margin: 30px 0;
          &:first-child {
            margin-top: 20px;
          }
        }
        .why-trick {
          color: #1c1c1c;
          font: 400 18px display-regular;
          margin-top: 35px;
          text-align: justify;
          strong {
            font: normal 20px "display-bold";
            text-align: center;
            letter-spacing: 0.5px;
          }
          div:last-child {
            margin-top: 8px;
            line-height: 25px;
            letter-spacing: -0.5px;
          }
        }
        .take-this {
          margin-top: 10px;
        }
      }
    }
  }
  .container-questions {
    background-color: #fff;
    .all-question {
      padding-top: 35px;
      h3 {
      }
      .question-list {
        .quest-block {
          margin: 29px 0;
          font: normal 16px "display-regular";
          color: #1c1c1c;
          padding: 8px;
          &:first-child {
            margin-top: 40px;
          }
          .all-question__quest {
            span {
              background: url("../img/icons/question.png") no-repeat;
              min-height: 33px;
              display: inline-block;
              padding-left: 40px;
              line-height: 20px;
            }
          }
          .all-question__answ {
            background-color: #f6f4f3;
            border: 1px dotted #896e67;
            border-radius: 5px;
            padding: 10px 10px;
            margin-top: 17px;
            line-height: 20px;
            text-align: justify;
          }
        }
      }
    }
  }
  .container-go {
    background: url("../img/bg-letsgo.jpg") no-repeat;
    height: 200px;
    max-width: 1440px;
    margin: 0 auto;
    .lets-go {
      padding-top: 15px;
      h3 {
        font: normal 26px "display-semibold";
        color: #fff;
        margin: 0;
        text-align: center;
        padding-top: 15px;
        display: block;
      }
      .take-this {
        margin-top: 25px;
      }
    }
  }
  .container-video {
    background: url("../img/bg-bottom.jpg") no-repeat;
    padding-bottom: 40px;
    max-width: 1440px;
    margin: 0 auto;
    .video {
      padding-top: 35px;
      &__title {
        font: normal 20px "display-semibold";
        color: #1f1f1f;
        text-align: center;
        margin-top: 32px;
      }
      &__slider {
        width: 290px;
        margin: 0 auto;
        outline: 0;
        button {
          border: none;
          font-size: 0;
          position: absolute;
          top: 50%;
          margin-top: -22.5px;
          outline: none;
          cursor: pointer;
        }
        .slick-prev {
          background: url("../img/icons/left.png") no-repeat;
          width: 25px;
          height: 45px;
          left: -5px;
        }
        .slick-next {
          background: url("../img/icons/right.png") no-repeat;
          width: 25px;
          height: 45px;
          right: -5px;
        }
        .slide-one {
          outline: none;
          .sl-line {
            display: flex;
            justify-content: space-around;
            outline: none;
            width: 220px;
            height: 155px;
            margin: 33px auto;
            overflow: hidden;
            .one-video {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .content {
    width: 600px;
  }
  .take-this {
    margin-top: 35px;
  }
  .container-result{
    .client-result{
      .client-slider {
        .slide {
          img {
            margin: 0 auto;
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
  .container-consulting {
    .team {
      &__line {
        display: flex;
        justify-content: space-between;
        .team-member{
          display: inline-block;
          font: normal 14px "display-regular";
          width: 180px;
          img {
            display: block;
            margin: 0 auto;
            width: 175px;
            height: 175px;
          }
          .member-post {
            text-align: justify;
            width: auto;
            margin-top: 10px;
          }
        }
      }
    }
  }
}