//= template/head.html
//= template/header.html

<div class="container-result">
    <div class="content">
        <div class="client-result">
            <h3 class="grey-title">Результаты наших клиентов</h3>
            <div class="client-slider multiple-items">
                <div class="slide">
                    <div class="client-img"><img src="img/clientResult-1.png" alt=""></div>
                    <div class="client-description">СБХ увеличение продаж</div>
                    <div class="client-efficiency">в 2 раза за 3 месяца</div>
                </div>
                <div class="slide">
                    <div class="client-img"><img src="img/clientResult-2.png" alt=""></div>
                    <div class="client-description">АМО увеличение продаж</div>
                    <div class="client-efficiency">в 4 раза за 2 месяца</div>
                </div>
                <div class="slide">
                    <div class="client-img"><img src="img/clientResult-3.png" alt=""></div>
                    <div class="client-description">Авангарнд увеличение продаж </div>
                    <div class="client-efficiency">в 8 раз за 4 месяца</div>
                </div>
                <div class="slide">
                    <div class="client-img"><img src="img/clientResult-3.png" alt=""></div>
                    <div class="client-description">Авангарнд увеличение продаж </div>
                    <div class="client-efficiency">в 8 раз за 4 месяца</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-sales">
    <div class="content">
        <div class="sales-growth">
            <h3 class="grey-title">Мы гарантируем рост продаж<br>в вашей компании минимум на 20%.</h3>
            <div class="sales-growth__description">
                Из 2071 аудита 741 компаний могут <span class="orange-text">увеличить продажи в 2 раза</span> и более за 6 месяца. А 1250 компаний могут
                увеличить продажи<span class="orange-text"> минимум на 20% за 3 месяца</span>.
            </div>
            <ol class="hove-it-work">
                <li>Мы проводим аудит Вашей системы продаж </li>
                <li>Видим все дыры через которые утекают продажи.</li>
                <li>По собственной методике мы оцениваем потенциал роста продаж.</li>
                <li>И называем во сколько раз у Вас вырастут продажи и что для этого нужно сделать.</li>
                <li>Если Вам эта цифра нравится и Вы готовы к предложенному плану мы начинаем.</li>
                <li>Определяем один из вариантов совместной работы на 3 – 6 - 12 месяцев. </li>
                <li>Если мы не достигаем поставленной цели, мы возвращаем деньги.</li>
            </ol>
            <div class="sales-growth__bold-text">
                Мы знаем все риски, почему продажи могут не вырасти в Вашей компании, и определяем их на этапе аудита.
                И поэтому если мы называем сумму на какую вырастут продажи, мы за нее отвечаем.
            </div>
            <button class="take-this">
                Узнать как вырастут продажи у меня
            </button>
        </div>
    </div>
</div>

<div class="container-about">
    <div class="content">
        <div class="about">
            <h3 class="grey-title">Клиенты о нашей работе</h3>
            <div class="multiple-about client-about">
                <div class="slide-about">
                    <div class="client-img"><img src="img/clientAbout-1.png" alt=""></div>
                    <div class="client-name">Михаил Токовинин</div>
                    <div class="client-post">совладелец компании </div>
                    <div class="client-comment">
                        Мы думали мы будем делать лучший продукт на свете и он сам себя продаст.
                        И вдруг Вы выдаете четырехкратный рост.
                    </div>
                </div>
                <div class="slide-about">
                    <div class="client-img"><img src="img/clientAbout-2.png" alt=""></div>
                    <div class="client-name">Олег Владимирович</div>
                    <div class="client-post">
                        совладелец холдинга с оборотом более 6 000 000 000 руб.
                    </div>
                    <div class="client-comment">
                        После кризисного 2015 нам удалось увеличить продажи в 2016 от 20 до 39% в зависимости от завода.
                    </div>
                </div>
                <div class="slide-about">
                    <div class="client-img"><img src="img/clientAbout-3.png" alt=""></div>
                    <div class="client-name"></div>
                    <div class="client-post">Совладелец компании Авангард</div>
                    <div class="client-comment">
                        Мы окупили работу с Вами за первый месяц работы. Наша клиентская база увеличилась в 8 раз за
                        время работы с Вами.
                    </div>
                </div>
                <div class="slide-about">
                    <div class="client-img"><img src="img/clientAbout-1.png" alt=""></div>
                    <div class="client-name">Михаил Токовинин</div>
                    <div class="client-post">совладелец компании </div>
                    <div class="client-comment">
                        Мы думали мы будем делать лучший продукт на свете и он сам себя продаст.
                        И вдруг Вы выдаете четырехкратный рост.
                    </div>
                </div>
            </div>
            <button class="take-this">
                Заявка на создание отдела продаж
            </button>
        </div>
    </div>
</div>

<div class="container-consulting">
    <div class="content">
        <div class="team">
            <h3 class="grey-title">Как Вы это делаете? Вы консультанты? </h3>
            <div class="team__disclaim">
                Нет!!! Мы не рассказываем Вам как нужно делать, мы делаем вместе с Вами отвечаем за результат. Мы внедренцы.
                Никакой магии только опыт 200 успешных отделов продаж. С вами будут работать наши эксперты:
            </div>
            <div class="team__line">
                <div class="team-member">
                    <img src="img/ourTeam-1.jpg" alt="">
                    <div class="member-post">
                        <strong>Куратор проекта </strong>
                        – один из основателей компании. Лично контролирует реализацию проекта с нашей стороны. И всегда
                        готов решить сложные вопросы, так как ни один из 200 проектов не был реализован без них.
                    </div>
                </div>
                <div class="team-member">
                    <img src="img/ourTeam-2.jpg" alt="">
                    <div class="member-post">
                        <strong>Куратор проекта </strong>
                        – один из основателей компании. Лично контролирует реализацию проекта с нашей стороны. И всегда
                        готов решить сложные вопросы, так как ни один из 200 проектов не был реализован без них.
                    </div>
                </div>
                <div class="team-member">
                    <img src="img/ourTeam-3.jpg" alt="">
                    <div class="member-post">
                        <strong>Куратор проекта </strong>
                        – один из основателей компании. Лично контролирует реализацию проекта с нашей стороны. И всегда
                        готов решить сложные вопросы, так как ни один из 200 проектов не был реализован без них.
                    </div>
                </div>
            </div>
            <div class="team__line">
                <div class="team-member">
                    <img src="img/ourTeam-4.jpg" alt="">
                    <div class="member-post">
                        <strong>Куратор проекта </strong>
                        – один из основателей компании. Лично контролирует реализацию проекта с нашей стороны. И всегда
                        готов решить сложные вопросы, так как ни один из 200 проектов не был реализован без них.
                    </div>
                </div>
                <div class="team-member">
                    <img src="img/ourTeam-5.jpg" alt="">
                    <div class="member-post">
                        <strong>Куратор проекта </strong>
                        – один из основателей компании. Лично контролирует реализацию проекта с нашей стороны. И всегда
                        готов решить сложные вопросы, так как ни один из 200 проектов не был реализован без них.
                    </div>
                </div>
                <div class="team-member">
                    <img src="img/ourTeam-6.jpg" alt="">
                    <div class="member-post">
                        <strong>Куратор проекта </strong>
                        – один из основателей компании. Лично контролирует реализацию проекта с нашей стороны. И всегда
                        готов решить сложные вопросы, так как ни один из 200 проектов не был реализован без них.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-system">
    <div class="content">
        <div class="our-system">
            <div class="our-system__work">
                    Система мотивации нашей команды такая, что они получают деньги только за успешный проект.
                    Поэтому никакого формализма – <span>только действия на результат.</span>
            </div>
            <button class="take-this take-border">
                Хочу результат - заказать аудит.
            </button>
        </div>
    </div>
</div>

<div class="container-trick">
    <div class="content">
        <div class="trick">
            <h3 class="grey-title">Слишком мягко стелите </h3>
            <div class="iHave">
                <strong>Если я получаю:</strong>
                <div class="checkbox">аудит своей системы продаж без предоплаты </div>
                <div class="checkbox">профессиональную команду, ориентированную на результат</div>
                <div class="checkbox">гарантированный рост – либо возврат денег.</div>
                <div class="why-trick">
                    <div><strong>Почему Вы готовы идти на эти условия? В чем подвох? </strong></div>
                    <div>Для достижения результата нам нужно вместе стремиться к результату. На аудите не только Вы
                        смотрите на нашу команду, но и мы на Вас, если понимаем, что Вы не готовы работать в команде и
                        менять компанию – мы отказываемся от реализации проекта.
                    </div>
                </div>
                <button class="take-this">
                    Заказать аудит без предоплаты
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container-questions">
    <div class="content">
        <div class="all-question">
            <h3 class="grey-title"> Вопрос - ответ </h3>
            <div class="question-list">
                <div class="quest-block">
                <div class="all-question__quest">
                    <span>
                        Вы не знаете специфики моего бизнеса, как Вы можете увеличить продажи в моей компании?
                    </span>
             </div>
                <div class="all-question__answ">
                    <span>
                        Вы знаете хорошо свой бизнес, мы умеем строить системы продаж. Мы объединяем знания и работаем
                        в команде. Сейчас наш опыт насчитывает 42 отрасли и каждый месяц мы узнаем 3-5 новых бизнесов.
                    </span>
             </div>
            </div>
                <div class="quest-block">
                <div class="all-question__quest">
                    <span>
                        Мы пробовали тренинги – они не работают!
                    </span>
             </div>
                <div class="all-question__answ">
                    <span>
                        Согласны – тренинги не работают. Работает только системный подход с установкой CRM контролем и обучением менеджеров без отрыва от продаж.
                    </span>
             </div>
            </div>
                <div class="quest-block">
                <div class="all-question__quest">
                    <span>
                        Я лучше найму отличного коммерческого директора/тренера/начальника отдела продаж и он все сделает.
                    </span>
             </div>
                <div class="all-question__answ">
                    <span>
                       Сколько отличный коммерческий директор построил отделов продаж за свою жизнь? 3-5? А Вы уверены что его модель сработает в Вашем бизнесе? А сколько этот коммерческий директор будет стоить если он действительно чего то умеет? И Вы ему все время будете платить космические деньги, потому что он построит отдел продаж под свои навыки управления. А мы строим систему не зависящую от человеческого фактора и нанимаем в нее человека умеющего управлять системой, за вменяемую зарплату.
                    </span>
             </div>
            </div>
                <div class="quest-block">
                <div class="all-question__quest">
                    <span>
                        Я сам могу все сделать.
                    </span>
             </div>
                <div class="all-question__answ">
                    <span>
                       Абсолютно точно большая часть собственников сами могут выстроить продажи:<br>
	•	если потратят на это в 3-5 раз больше времени чтобы совершить все ошибки которые совершили мы при построении 200 отделов продаж,<br>
	•	если будут заниматься построением системы с утра до вечера и не отвлекаться на оперативные вопросы.<br>
	•	Если соберут вокруг себя команду профессионалов
                    </span>
             </div>
            </div>
                <div class="quest-block">
                <div class="all-question__quest">
                    <span>
                        Вы уйдете, а продажи вернутся на прежний уровень.
                    </span>
             </div>
                <div class="all-question__answ">
                    <span>
                        Наш результат это системная работа. Каждый успех и неудача прозрачны для Вас. При построенной системе продаж, Вам необходимо 30 минут ежедневно чтобы контролировать систему. Если Вы не будете контролировать систему, она через время разрушится и продажи обязательно вернутся на прежний уровень. Но у нас есть вариант долгосрочной поддержки для тех кто боится отката назад.
                    </span>
             </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="container-go">
    <div class="content">
        <div class="lets-go">
            <h3>Давайте уже увеличим продажи вместе</h3>
            <button class="take-this take-border">
                Начать аудит без предоплаты
            </button>
        </div>
    </div>
</div>

<div class="container-video">
    <div class="content">
        <div class="video">
            <h3 class="grey-title"> Все еще сомневаетесь?</h3>
            <div class="video__title">
                Все сомневаются. Послушайте отзывы собственников:
            </div>
            <div class="video__slider double-items">
                <div class="slide-one">
                    <div class="sl-line">
                        <div class="one-video"><a href=""><img src="img/video.jpg" alt=""></a></div><div class="one-video"><a href=""><img src="img/video-2.jpg" alt=""></a></div> <div class="one-video"><a href=""><img src="img/video-3.jpg" alt=""></a></div>
                    </div>
                    <div class="sl-line">
                        <div class="one-video"><a href=""><img src="img/video-4.jpg" alt=""></a></div><div class="one-video"><a href=""><img src="img/video-5.jpg" alt=""></a></div><div class="one-video"><a href=""><img src="img/video-6.jpg" alt=""></a></div>
                    </div>
                </div>
                <div class="slide-one">
                    <div class="sl-line">
                        <div class="one-video"><a href=""><img src="img/video.jpg" alt=""></a></div><div class="one-video"><a href=""><img src="img/video-2.jpg" alt=""></a></div> <div class="one-video"><a href=""><img src="img/video-3.jpg" alt=""></a></div>
                    </div>
                    <div class="sl-line">
                        <div class="one-video"><a href=""><img src="img/video-4.jpg" alt=""></a></div><div class="one-video"><a href=""><img src="img/video-5.jpg" alt=""></a></div><div class="one-video"><a href=""><img src="img/video-6.jpg" alt=""></a></div>
                    </div>
                </div>
            </div>
            <button class="take-this">
                Больше не сомневаюсь - начать аудит!
            </button>
        </div>
    </div>
</div>
//= template/footer.html


